* {
    box-sizing: border-box;
}

.login_pai {
    background-color: #fdf6b6 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin:auto; /* Para centralizar no elemento pai */
    border-radius: 6px;
    border: 2px solid lightsalmon;
}

.login_pai h1 {
    margin:0.3em 0;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.login_pai p:first-child {
        margin-top: 0;
    }

.login_pai label {
    font-style: italic;
    font-size: 14px;
}

.login_pai input {
    border-color: blueviolet;
    border-radius: 4px;
}

.login_pai form button {
    border-color: blueviolet;
    border-radius: 6px;
    background-color: yellow;
}

.login_pai_footer {
    display: flex;
    justify-content: space-between; 
}

.login_pai_footer a {
    text-decoration: none;
    margin-bottom: 10px;
}

label {
    display: block;
}










/* .login_pai {
    border:1px solid red;
} */
/* form {
    border:2px dotted blue;
} */